# MEDPC Data Tutorial

**Contact:**
* Dexter Kim: @dexterkim2000@gmail.com
* Brett Hathaway: 

**Note: This tutorial is split into multiple sections for...**

**Before you start, please complete the following:**
* Make sure you have this notebook, rgt_functions.py file, and your raw data (to be analyzed) in your current working directory 
* Please run the following cell

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
#MEDPC rat gambling task functions imports, will print "I am being executed!" if functional
import rgt_functions as rgt

#main imports 
import os
import pandas as pd
import numpy as np

# plotting imports 
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator

# stats imports 
import scipy.stats as stats

#the following line prevents pandas from giving unecessary errors 
pd.options.mode.chained_assignment = None

I am being executed!

# Setting Variables (objects) 

Set your variables! These will be used later in the code. Example arguments are left in for clarity.

###Brett will edit

In [3]:
#we need to set a few variables for loading in the data - these will change depending on the dataset

#in file_names (List[str]), add the file names you wish to read into Python 
file_names = ['BH07_raw_free_S29-30.xlsx']

#in group_names (List[str]), add the names of the control and experimental group, respectively 
group_names = ['Tg negative','Tg positive'] 

title = 'Nigrostriatal activation during acquisition' #title for figures, describing the experiment
startsess = 29 #first session in this dataset
endsess = 30 #last session in this dataset

group_names = {0: 'tg negative',
              1: 'tg positive'} ##group_names is used twice (as a list, and as a dict)

#the following two lines of code assign the rat subject numbers to the experimental and control group lists
exp_group = [1, 2, 7, 8, 11, 12, 16, 19, 20, 21, 22, 25, 26, 29, 32] #Tg positive

control_group = [3, 4, 5, 6, 9, 13, 14, 15, 17, 18, 23, 24, 27, 28, 30, 31] #Tg negative

# Load data into Python
* `load_data` takes in one argument: file_names 
* Recall: `file_names` is the object assigned to the list of files you want to read into Python. Make sure this is correct! If this is your first run through the code, maybe try loading in just one file. 
* `load_data` outputs a table similar to the excel sheet(s) you loaded in. (in the order established in `file_names`) 
* note: `df` means dataframe, and is an object that will store your dataframe (table containing your data) 
* `reset_sessions` ##makes the sessions start from 1 again, like in the baseline analysis (stability across 3-5 sessions)
* `load_multiple_data`

In [4]:
df = rgt.load_data(file_names)

#load_data won't output a dataframe itself. Use the following function to view the top of your dataframe. Note: it should look the exact same as your first excel file. 

df.head()

,MSN,StartDate,StartTime,Subject,Group,Box,Experiment,Comment,Session,Trial,...,Pun_Persev_H5,Pun_HeadEntry,Pun_Dur,Premature_Resp,Premature_Hole,Rew_Persev_H1,Rew_Persev_H2,Rew_Persev_H3,Rew_Persev_H4,Rew_Persev_H5
0,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,1.0,...,3,3,30,0,0,0,0,0,0,0
1,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,2.1,...,0,0,0,1,5,0,0,0,0,0
2,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,2.0,...,3,2,30,0,0,0,0,0,0,0
3,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,3.0,...,0,0,0,0,0,0,0,0,0,0
4,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,4.0,...,2,2,30,0,0,0,0,0,0,0

# Analysis by Session Section (acquisition analysis) 

**Check your session data**
* `check_sessions` gives us a summary for each rat (subject) including session numbers, session dates and # trials for each session.
* This allows us to see if there are any missing/incorrect session numbers, and if MED-PC exported all of the desired data into the Excel file you loaded in (`file_names`). 

##edit_sess could be added here

In [5]:
rgt.check_sessions(df)

Subject  StartDate   Session
1        2020-10-09  29         131.1
         2020-10-10  30         124.0
2        2020-10-09  29          76.1
         2020-10-10  30          81.0
3        2020-10-09  29          49.0
         2020-10-10  30          45.0
4        2020-10-09  29         103.0
         2020-10-10  30          97.0
5        2020-10-09  29          68.1
         2020-10-10  30          69.0
6        2020-10-09  29          88.0
         2020-10-10  30          75.0
7        2020-10-09  28          53.0
         2020-10-10  29          65.0
         2020-10-13  30          56.1
8        2020-10-09  29         124.0
         2020-10-10  30         121.0
9        2020-10-09  29          62.0
         2020-10-10  30          61.0
11       2020-10-09  29         132.0
         2020-10-10  30         136.1
12       2020-10-09  29          54.0
         2020-10-10  30          72.0
13       2020-10-09  29          67.0
         2020-10-10  30          60.0
14       2020-10-09  29          80.1
         2020-10-10  30          91.0
15       2020-10-09  29          54.0
         2020-10-10  30          60.1
16       2020-10-09  29          57.0
         2020-10-10  30          59.1
17       2020-10-09  28          63.1
         2020-10-10  29          43.1
         2020-10-13  30          73.0
18       2020-10-09  29          76.0
         2020-10-10  30          69.0
19       2020-10-09  29          72.0
         2020-10-10  30          76.0
20       2020-10-09  29         107.1
         2020-10-10  30         109.0
21       2020-10-09  29          70.0
         2020-10-10  30          74.0
22       2020-10-09  28         121.0
         2020-10-10  29         115.0
         2020-10-13  30          88.0
23       2020-10-09  29          90.0
         2020-10-10  30         107.1
24       2020-10-09  29         114.0
         2020-10-10  30         117.0
25       2020-10-09  29          66.0
         2020-10-10  30          65.0
26       2020-10-09  29          75.1
         2020-10-10  30          61.1
27       2020-10-09  29          84.0
         2020-10-10  30          95.0
28       2020-10-09  29          81.0
         2020-10-10  30          91.1
29       2020-10-09  29          79.0
         2020-10-10  30          72.0
30       2020-10-09  29         125.0
         2020-10-10  30         129.0
31       2020-10-09  29          55.0
         2020-10-10  30          90.0
32       2020-10-09  29          75.0
         2020-10-10  30          81.0
Name: Trial, dtype: float64

**To drop/remove data from certain session(s)**
* replace `session_num` with the session number data you want to remove
* for example, to remove all data from session 28 and 29, I would write: `rgt.drop_sessions(df, [28, 29])`
* **make sure to remove the correct session(s)**, if you remove the wrong session and want to put the data back, you'll have to restart the Kernel and restart from `load_data`

##drop_subjects and drop_groups could be added here

In [6]:
# rgt.drop_sessions(df, session_num) #session_num is a list of integers
rgt.drop_sessions(df, [28])

**Check that you dropped the session desired (in this example, we dropped data from session 28)**

In [7]:
rgt.check_sessions(df)

Subject  StartDate   Session
1        2020-10-09  29         131.1
         2020-10-10  30         124.0
2        2020-10-09  29          76.1
         2020-10-10  30          81.0
3        2020-10-09  29          49.0
         2020-10-10  30          45.0
4        2020-10-09  29         103.0
         2020-10-10  30          97.0
5        2020-10-09  29          68.1
         2020-10-10  30          69.0
6        2020-10-09  29          88.0
         2020-10-10  30          75.0
7        2020-10-10  29          65.0
         2020-10-13  30          56.1
8        2020-10-09  29         124.0
         2020-10-10  30         121.0
9        2020-10-09  29          62.0
         2020-10-10  30          61.0
11       2020-10-09  29         132.0
         2020-10-10  30         136.1
12       2020-10-09  29          54.0
         2020-10-10  30          72.0
13       2020-10-09  29          67.0
         2020-10-10  30          60.0
14       2020-10-09  29          80.1
         2020-10-10  30          91.0
15       2020-10-09  29          54.0
         2020-10-10  30          60.1
16       2020-10-09  29          57.0
         2020-10-10  30          59.1
17       2020-10-10  29          43.1
         2020-10-13  30          73.0
18       2020-10-09  29          76.0
         2020-10-10  30          69.0
19       2020-10-09  29          72.0
         2020-10-10  30          76.0
20       2020-10-09  29         107.1
         2020-10-10  30         109.0
21       2020-10-09  29          70.0
         2020-10-10  30          74.0
22       2020-10-10  29         115.0
         2020-10-13  30          88.0
23       2020-10-09  29          90.0
         2020-10-10  30         107.1
24       2020-10-09  29         114.0
         2020-10-10  30         117.0
25       2020-10-09  29          66.0
         2020-10-10  30          65.0
26       2020-10-09  29          75.1
         2020-10-10  30          61.1
27       2020-10-09  29          84.0
         2020-10-10  30          95.0
28       2020-10-09  29          81.0
         2020-10-10  30          91.1
29       2020-10-09  29          79.0
         2020-10-10  30          72.0
30       2020-10-09  29         125.0
         2020-10-10  30         129.0
31       2020-10-09  29          55.0
         2020-10-10  30          90.0
32       2020-10-09  29          75.0
         2020-10-10  30          81.0
Name: Trial, dtype: float64

**Run the following cell to acquire a summary of your data.**

The rows represent subjects (rats 1 to n)

The columns are explained below:
* ##P# represents the percent choice of each option. For example, 29P1 represents the percentage of times P1 was selected during the 29th session. 
* risk## represents the risk score for each session: (P1 + P2) - (P3 + P4) 
* collect_lat## represents the mean collect latency for each session
* choice_lat## represents the mean choice latency for each session 
* trial## represents the number of trials (not including premature responses or omissions) for each session
* prem## represents the number of premature responses for each session

In [18]:
df_sum = rgt.get_summary_data(df)
df_sum #prints the dataset

,29P1,29P2,29P3,29P4,30P1,30P2,30P3,30P4,risk29,risk30,collect_lat29,collect_lat30,choice_lat29,choice_lat30,omit29,omit30,trial29,trial30,prem29,prem30
1,90.8397,0,8.39695,0.763359,83.0645,0,16.9355,0,81.6794,66.129,0.929160,1.058226,0.638321,0.655323,0,0,131.1,124.0,26.404494,24.848485
2,9.33333,65.3333,10.6667,14.6667,4.93827,76.5432,0,18.5185,49.3333,62.963,1.157333,1.010617,1.057733,1.249012,1,0,76.1,81.0,30.275229,33.606557
3,2.17391,8.69565,56.5217,32.6087,0,11.6279,67.4419,20.9302,-78.2609,-76.7442,0.467174,0.549070,2.833261,3.652791,3,2,49.0,45.0,3.921569,6.250000
4,5.88235,73.5294,4.90196,15.6863,13.4021,64.9485,3.09278,18.5567,58.8235,56.701,0.904412,0.817938,1.000980,0.885258,1,0,103.0,97.0,13.445378,24.218750
5,0,1.53846,98.4615,0,9.375,7.8125,79.6875,3.125,-96.9231,-65.625,0.397385,0.618125,3.135846,3.176250,3,5,68.1,69.0,8.108108,16.867470
6,2.5,70,0,27.5,2.94118,63.2353,0,33.8235,45,32.3529,0.739000,0.686618,2.172000,1.859265,8,7,88.0,75.0,9.278351,15.730337
7,3.07692,10.7692,64.6154,21.5385,1.81818,10.9091,69.0909,18.1818,-72.3077,-74.5455,0.439077,0.473273,1.012615,1.194545,0,0,65.0,56.1,16.666667,34.523810
8,2.41935,92.7419,0.806452,4.03226,2.47934,94.2149,1.65289,1.65289,90.3226,93.3884,1.401532,1.353884,1.850484,1.956033,0,0,124.0,121.0,10.144928,12.949640
9,3.27869,3.27869,90.1639,3.27869,5.26316,7.01754,82.4561,5.26316,-86.8852,-75.4386,0.367869,0.349474,2.300328,2.754211,1,4,62.0,61.0,20.512821,11.594203
11,10.687,88.5496,0.763359,0,8.14815,91.1111,0,0.740741,98.4733,98.5185,1.116794,1.246519,1.950153,1.667852,1,0,132.0,136.1,2.222222,7.534247
12,18.5185,42.5926,0,38.8889,22.5352,49.2958,7.04225,21.1268,22.2222,43.662,0.817963,0.893380,1.161111,1.667324,0,1,54.0,72.0,32.500000,20.879121
13,7.8125,28.125,60.9375,3.125,5.35714,25,57.1429,12.5,-28.125,-39.2857,0.761719,0.795893,2.939531,2.651429,3,4,67.0,60.0,14.102564,17.808219
14,2.5,55,40,2.5,1.0989,84.6154,6.59341,7.69231,15,71.4286,1.507750,2.038901,2.471000,3.094835,0,0,80.1,91.0,23.076923,14.953271
15,2.04082,20.4082,69.3878,8.16327,3.44828,32.7586,58.6207,5.17241,-55.102,-27.5862,0.644694,0.644310,1.645510,1.517241,5,2,54.0,60.1,12.903226,16.666667
16,14.0351,21.0526,10.5263,54.386,9.61538,25,13.4615,51.9231,-29.8246,-30.7692,0.893684,0.789808,2.184386,2.626538,0,6,57.0,59.1,16.176471,19.444444
17,8.10811,37.8378,48.6486,5.40541,12.5,42.1875,40.625,4.6875,-8.10811,9.375,1.015405,1.072812,2.116757,1.780156,6,9,43.1,73.0,29.508197,10.975610
18,4.05405,68.9189,27.027,0,5.97015,62.6866,31.3433,0,45.9459,37.3134,1.437703,1.616418,2.929865,2.801791,2,2,76.0,69.0,7.317073,5.479452
19,19.4444,30.5556,38.8889,11.1111,13.5135,40.5405,31.0811,14.8649,-3.55271e-15,8.10811,1.208750,1.033378,1.969306,2.267973,0,2,72.0,76.0,19.101124,10.588235
20,1.94175,94.1748,1.94175,1.94175,5,90,2,3,92.233,90,1.627087,1.360600,3.634078,3.147800,4,9,107.1,109.0,3.603604,1.801802
21,27.2727,31.8182,18.1818,22.7273,22.2222,30.5556,16.6667,30.5556,18.1818,5.55556,1.102273,1.206111,1.756667,1.821806,4,2,70.0,74.0,22.222222,20.430108
22,4.38596,82.4561,4.38596,8.77193,7.95455,68.1818,5.68182,18.1818,73.6842,52.2727,0.979649,0.791591,1.998947,1.280909,1,0,115.0,88.0,10.852713,24.137931
23,7.77778,78.8889,7.77778,5.55556,11.3208,77.3585,0.943396,10.3774,73.3333,77.3585,0.932556,0.999717,1.119222,1.411792,0,1,90.0,107.1,30.232558,18.939394
24,9.90099,72.2772,11.8812,5.94059,11,78,7,4,64.3564,78,1.183861,1.305900,1.069505,1.537000,13,17,114.0,117.0,5.000000,10.687023
25,0,0,100,0,1.5625,0,98.4375,0,-100,-96.875,0.593333,0.535625,1.715606,1.558594,0,1,66.0,65.0,19.512195,21.686747
26,12.1622,58.1081,5.40541,24.3243,20,45,20,15,40.5405,30,0.911622,0.831333,0.952568,0.972500,0,0,75.1,61.1,43.511450,56.521739
27,18.2927,48.7805,19.5122,13.4146,23.4043,54.2553,11.7021,10.6383,34.1463,55.3191,0.862683,0.912872,1.819878,1.580957,2,1,84.0,95.0,13.402062,11.214953
28,10.3896,64.9351,2.5974,22.0779,7.77778,60,2.22222,30,50.6494,35.5556,0.987532,0.719889,2.941169,1.291444,4,1,81.0,91.1,4.705882,10.784314
29,26.5823,10.1266,53.1646,10.1266,14.2857,18.5714,45.7143,21.4286,-26.5823,-34.2857,0.867089,0.753429,1.474557,1.846429,0,2,79.0,72.0,15.957447,15.294118
30,0,100,0,0,0.775194,93.7984,5.42636,0,100,89.1473,0.752419,0.789845,1.087177,0.593953,1,0,125.0,129.0,16.666667,15.131579
31,7.27273,83.6364,3.63636,5.45455,2.24719,87.6404,7.86517,2.24719,81.8182,79.7753,1.087636,1.203933,2.057091,2.679663,0,1,55.0,90.0,12.698413,10.891089
32,0,47.619,7.93651,44.4444,6.34921,47.619,3.1746,42.8571,-4.7619,7.93651,0.573333,0.592540,3.270794,3.479206,12,18,75.0,81.0,6.250000,4.705882

**Get the risk status of the rats using the following code**
* Note: 
    * `risk_status == 1` indicates a positive risk score (optimal) 
    * `risk_status == 2` indicates a negative risk score (risky)
    * `mean_risk` is the mean risk score averaged across the sessions between `startsess` and `endsess` for a given subject
        * ##you can change startsess and endsess
    * `print(risky, optimal)` prints out 2 list of rat subjects: the risky rats, and the optimal rats

In [9]:
df_summary, risky, optimal = rgt.get_risk_status(df_sum, startsess, endsess)

print(df_summary[['mean_risk','risk_status']]) ##printed 2 of many columns in df_summary
print(risky, optimal) #prints 2 lists: the subject numbers of the risky rats, and the subject numbers of the optimal rats

    mean_risk  risk_status
1   73.904211          1.0
2   56.148148          1.0
3  -77.502528          2.0
4   57.762280          1.0
5  -81.274038          2.0
6   38.676471          1.0
7  -73.426573          2.0
8   91.855505          1.0
9  -81.161921          2.0
11  98.495900          1.0
12  32.942097          1.0
13 -33.705357          2.0
14  43.214286          1.0
15 -41.344124          2.0
16 -30.296896          2.0
17   0.633446          1.0
18  41.629689          1.0
19   4.054054          1.0
20  91.116505          1.0
21  11.868687          1.0
22  62.978469          1.0
23  75.345912          1.0
24  71.178218          1.0
25 -98.437500          2.0
26  35.270270          1.0
27  44.732745          1.0
28  43.102453          1.0
29 -30.433996          2.0
30  94.573643          1.0
31  80.796731          1.0
32   1.587302          1.0
[3, 5, 7, 9, 13, 15, 16, 25, 29] [1, 2, 4, 6, 8, 11, 12, 14, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 30, 31, 32]

**Export your data to an Excel file!** 
* Note: `'tg_status'` is the column name that specifies the control vs. experimental group
* Note2: `'BH07_free_S29-30.xlsx'` specifies the name of the Excel file

In [10]:
rgt.export_to_excel(df_summary, [control_group, exp_group], column_name = 'tg_status', file_name = 'BH07_free_S29-30.xlsx')

##Brett will edit control_group

# Analyze by Group Section 

##Brett will edit

**Check your group data**

In [19]:
# rgt.check_groups(df)

**To drop/remove data from certain groups**
* replace `group_num` with the session number data you want to remove
* for example, to remove all data from group 1 and 2, I would write: `rgt.drop_groups(df, [1, 2])`
* **make sure to remove the correct group(s)**, if you remove the wrong session and want to put the data back, you'll have to restart the Kernel and restart from `load_data`

In [12]:
# rgt.drop_groups(df, group_num)

**Check that you dropped the group desired**

In [20]:
# rgt.check_groups(df)

**Run the following cell to acquire a summary of your data.**

The rows represent subjects (rats 1 to n)

The columns are explained below:
* ##P# represents the percent choice of each option. For example, 29P1 represents the percentage of times P1 was selected during the ##th group. 
* risk## represents the risk score for each group: (P1 + P2) - (P3 + P4) 
* collect_lat## represents the mean collect latency for each group
* choice_lat## represents the mean choice latency for each group
* trial## represents the number of trials (not including premature responses or omissions) for each group
* prem## represents the number of premature responses for each group

In [14]:
# rgt.get_summary_data(df, mode = 'Group')

,0.0P1,0.0P2,0.0P3,0.0P4,nanP1,nanP2,nanP3,nanP4,risk0.0,risknan,collect_lat0.0,collect_latnan,choice_lat0.0,choice_latnan,omit0.0,omitnan,trial0.0,trialnan,prem0.0,premnan
1,87.0588,0,12.549,0.392157,NaN,NaN,NaN,NaN,74.1176,NaN,0.991922,NaN,0.646588,NaN,0,NaN,131.1,NaN,25.655977,NaN
2,7.05128,71.1538,5.12821,16.6667,NaN,NaN,NaN,NaN,56.4103,NaN,1.081154,NaN,1.157051,NaN,1,NaN,81.0,NaN,32.034632,NaN
3,1.1236,10.1124,61.7978,26.9663,NaN,NaN,NaN,NaN,-77.5281,NaN,0.506742,NaN,3.229213,NaN,5,NaN,49.0,NaN,5.050505,NaN
4,9.54774,69.3467,4.0201,17.0854,NaN,NaN,NaN,NaN,57.7889,NaN,0.862261,NaN,0.944573,NaN,1,NaN,103.0,NaN,19.028340,NaN
5,4.65116,4.65116,89.1473,1.55039,NaN,NaN,NaN,NaN,-81.3953,NaN,0.506899,NaN,3.155891,NaN,8,NaN,69.0,NaN,12.738854,NaN
6,2.7027,66.8919,0,30.4054,NaN,NaN,NaN,NaN,39.1892,NaN,0.714932,NaN,2.028311,NaN,15,NaN,88.0,NaN,12.365591,NaN
7,2.5,10.8333,66.6667,20,NaN,NaN,NaN,NaN,-73.3333,NaN,0.454750,NaN,1.096000,NaN,0,NaN,65.0,NaN,25.925926,NaN
8,2.44898,93.4694,1.22449,2.85714,NaN,NaN,NaN,NaN,91.8367,NaN,1.378000,NaN,1.902612,NaN,0,NaN,124.0,NaN,11.552347,NaN
9,4.23729,5.08475,86.4407,4.23729,NaN,NaN,NaN,NaN,-81.3559,NaN,0.358983,NaN,2.519576,NaN,5,NaN,62.0,NaN,16.326531,NaN
11,9.3985,89.8496,0.37594,0.37594,NaN,NaN,NaN,NaN,98.4962,NaN,1.182632,NaN,1.806880,NaN,1,NaN,136.1,NaN,4.982206,NaN
12,20.8,46.4,4,28.8,NaN,NaN,NaN,NaN,34.4,NaN,0.860800,NaN,1.448640,NaN,1,NaN,72.0,NaN,26.315789,NaN
13,6.66667,26.6667,59.1667,7.5,NaN,NaN,NaN,NaN,-33.3333,NaN,0.777667,NaN,2.805083,NaN,7,NaN,67.0,NaN,15.894040,NaN
14,1.75439,70.7602,22.2222,5.26316,NaN,NaN,NaN,NaN,45.0292,NaN,1.790409,NaN,2.802982,NaN,0,NaN,91.0,NaN,18.957346,NaN
15,2.80374,27.1028,63.5514,6.54206,NaN,NaN,NaN,NaN,-40.1869,NaN,0.644486,NaN,1.575981,NaN,7,NaN,60.1,NaN,14.925373,NaN
16,11.9266,22.9358,11.9266,53.211,NaN,NaN,NaN,NaN,-30.2752,NaN,0.844128,NaN,2.395321,NaN,6,NaN,59.1,NaN,17.857143,NaN
17,10.8911,40.5941,43.5644,4.9505,NaN,NaN,NaN,NaN,2.9703,NaN,1.051782,NaN,1.903465,NaN,15,NaN,73.0,NaN,18.881119,NaN
18,4.96454,65.9574,29.078,0,NaN,NaN,NaN,NaN,41.844,NaN,1.522624,NaN,2.869007,NaN,4,NaN,76.0,NaN,6.451613,NaN
19,16.4384,35.6164,34.9315,13.0137,NaN,NaN,NaN,NaN,4.10959,NaN,1.119863,NaN,2.120685,NaN,2,NaN,76.0,NaN,14.942529,NaN
20,3.44828,92.1182,1.97044,2.46305,NaN,NaN,NaN,NaN,91.133,NaN,1.495813,NaN,3.394532,NaN,13,NaN,109.0,NaN,2.702703,NaN
21,24.6377,31.1594,17.3913,26.8116,NaN,NaN,NaN,NaN,11.5942,NaN,1.156449,NaN,1.790652,NaN,6,NaN,74.0,NaN,21.311475,NaN
22,5.94059,76.2376,4.9505,12.8713,NaN,NaN,NaN,NaN,64.3564,NaN,0.897723,NaN,1.686139,NaN,1,NaN,115.0,NaN,17.142857,NaN
23,9.69388,78.0612,4.08163,8.16327,NaN,NaN,NaN,NaN,75.5102,NaN,0.968878,NaN,1.277449,NaN,1,NaN,107.1,NaN,24.521073,NaN
24,10.4478,75.1244,9.45274,4.97512,NaN,NaN,NaN,NaN,71.1443,NaN,1.244577,NaN,1.302090,NaN,30,NaN,117.0,NaN,7.968127,NaN
25,0.769231,0,99.2308,0,NaN,NaN,NaN,NaN,-98.4615,NaN,0.564923,NaN,1.638308,NaN,1,NaN,66.0,NaN,20.606061,NaN
26,15.6716,52.2388,11.9403,20.1493,NaN,NaN,NaN,NaN,35.8209,NaN,0.875672,NaN,0.961493,NaN,0,NaN,75.1,NaN,50.185874,NaN
27,21.0227,51.7045,15.3409,11.9318,NaN,NaN,NaN,NaN,45.4545,NaN,0.889489,NaN,1.692273,NaN,3,NaN,95.0,NaN,12.254902,NaN
28,8.98204,62.2754,2.39521,26.3473,NaN,NaN,NaN,NaN,42.515,NaN,0.843293,NaN,2.052096,NaN,5,NaN,91.1,NaN,8.021390,NaN

**Summarize your data by experimental/control group**
* if you only want to view certain columns, specify them in mean_scores 
    * For example, `mean_scores[['risk29', 'risk30']]` will create a table with only those 2 columns
    * Each value is the mean for that column (ex. 29P1) and group (tg negative or tg positive) ##rewrite

In [15]:
mean_scores, stderror = rgt.get_group_means_sem(df_summary, [control_group, exp_group], group_names)
mean_scores #all mean scores
# mean_scores[['risk29', 'risk30']] #specify columns

,29P1,29P2,29P3,29P4,30P1,30P2,30P3,30P4,risk29,risk30,...,choice_lat29,choice_lat30,omit29,omit30,trial29,trial30,prem29,prem30,mean_risk,risk_status
tg negative,5.74901,50.9906,33.8409,9.41941,7.24256,53.3089,28.8852,10.5634,13.4793,21.1029,...,2.10245,2.07925,3.25,3.5,77.4563,83.0812,14.055,13.637,17.2911,1.3125
tg positive,16.0466,45.0598,21.712,17.1815,14.8991,45.8362,22.0626,17.2021,22.2129,21.4706,...,1.77515,1.82612,1.53333,2.73333,86.56,85.0267,18.3601,20.5969,21.8417,1.26667

# ADDED FUNCTIONS (DON'T KNOW THE SECTION)

**Get risk_status from risk 1 only**

##

In [23]:
# rgt.get_risk_status_vehicle(df) ##Doesn't work

I am being executed!

# Plotting Section (by Sessions) 

**Graph of the table above**
* `variable` specifies the variable you want to plot. 
* For example, if I want to plot `choice_lat` over sessions for the experimental and control group, I would replace `variable` with `'choice_lat'`

##this could be improved in description -

In [24]:
# rgt.rgt_plot(variable,startsess,endsess,['tg negative','tg positive'],title,mean_scores,stderror, var_title='risk score')

**Bar plot of the df above**

In [ ]:
# rgt.choice_bar_plot(startsess,endsess,mean_scores,stderror)

# Plotting Section (by Groups) 

**Graph of the table above**
* `variable` specifies the variable you want to plot. 
* For example, if I want to plot `choice_lat` over sessions for the experimental and control group, I would replace `variable` with `'choice_lat'`

##this could be improved in description

In [25]:
# rgt.ls_bar_plot

# rgt.rgt_bar_plot

I am being executed!

# Miscellaneous Section (Advanced Code)

**Change working directory**

Instructions: 
* Check your current working directory by running line 2. 
* From your working directory, make a data folder (call it: data), and add your .xlsx file into that folder. 
* Change `('C:\\Users\\dexte\\hathaway_1\\data')` to your current working directory and add '\\data'
* For example, my current working directory is `'C:\\Users\\dexte\\hathaway_1'`, so I enter `'C:\\Users\\dexte\\hathaway_1\\data'` into the brackets (slashes will be different if you are not using windows). 
* This saves all data in your data folder, instead of your current working directory. 

##default: just have their data in their cwd (easier option)
##future: write a function that will save files in separate folder (for them)

In [ ]:
#checks current working directory
os.getcwd()

#changes working directory to whatever is included in brackets
os.chdir('C:\\Users\\dexte\\hathaway_1\\data')