### SparklyRGT Template: Baseline and Acquisition Analysis 

**Requirements**
* The data must be an excel file from MEDPC2XL (trial by trial data) 
* The data, sparklyRGT.py file, and this notebook must all be in the same folder

**Getting started: Please make a copy of this (sparklyRGT_template_2) for each analysis**
- Refer to sparklyRGT_documentation for function information
- Note: depending on your analysis, you will only have to complete certain sections of the sparklyRGT_documentation
- Note: feel free to create a personal template once you've become comfortable - this is just an example

In [1]:
import sparklyRGT as rgt 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
import scipy.stats as stats
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows',100)

I am being executed!

***

# 1) Load data into Python

In [4]:
#checks current working directory
os.getcwd()

#changes working directory to whatever is included in brackets
# os.chdir("C:\\Users\\dexte\\sparklyRGT\\data") 
os.chdir('/home/brett/sparklyRGT/data')

In [5]:
file_names = ['CH01_raw-free_S8-19.xlsx'] 

df = rgt.load_data(file_names)

df

,MSN,StartDate,StartTime,Subject,Group,Box,Experiment,Comment,Session,Trial,...,Pun_Persev_H5,Pun_HeadEntry,Pun_Dur,Premature_Resp,Premature_Hole,Rew_Persev_H1,Rew_Persev_H2,Rew_Persev_H3,Rew_Persev_H4,Rew_Persev_H5
0,MisrGT_A-cue,02/22/19,17:22:25,41,0,1,0,NaN,8,1.1,...,0,0,0,1,4,0,0,0,0,0
1,MisrGT_A-cue,02/22/19,17:22:25,41,0,1,0,NaN,8,1.1,...,0,0,0,1,1,0,0,0,0,0
2,MisrGT_A-cue,02/22/19,17:22:25,41,0,1,0,NaN,8,1.1,...,0,0,0,1,5,0,0,0,0,0
3,MisrGT_A-cue,02/22/19,17:22:25,41,0,1,0,NaN,8,1.1,...,0,0,0,1,5,0,0,0,0,0
4,MisrGT_A-cue,02/22/19,17:22:25,41,0,1,0,NaN,8,1.1,...,0,0,0,1,4,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73033,rGT_B-cue,03/13/19,18:43:20,32,0,5,0,NaN,19,48.1,...,0,0,0,1,1,0,0,0,0,0
73034,rGT_B-cue,03/13/19,18:43:20,32,0,5,0,NaN,19,48.0,...,0,0,0,0,0,0,0,0,0,0
73035,rGT_B-cue,03/13/19,18:43:20,32,0,5,0,NaN,19,49.0,...,0,0,0,0,0,0,0,0,0,0
73036,rGT_B-cue,03/13/19,18:43:20,32,0,5,0,NaN,19,50.0,...,0,0,0,0,0,0,0,0,0,0
73037,rGT_B-cue,03/13/19,18:43:20,32,0,5,0,NaN,19,51.0,...,2,3,40,0,0,0,0,0,0,0

***
# 2A) Baseline & Acquisition Analysis

In [6]:
cued = list(range(17,33)) #17 to 32

classic = [1, 2, 3, 4, 5, 6, 7, 8, 15, 16] #1 to 16, excluding 9-14

reverse = list(range(33,49)) #33-48

group_names = {0: 'cued',
              1: 'classic',
              2: 'reverse',} 

group_list = [cued, classic, reverse]

title = 'Plot' #for plotting

startsess = 8 #first session you would like to include in figures
endsess = 12 #last session you would like to include in figures

## Data cleaning

### Check session numbers for each rat

In [11]:
# rgt.check_sessions(df)

### Drop/edit session numbers

In [8]:
df2 = rgt.drop_subjects(df, [9, 10, 11, 12, 13, 14])
df2 = rgt.drop_sessions(df, [6])
# df2 = rgt.edit_sessions(df, orig_sess = [0], new_sess = [2], subs = [58, 59, 60])

### Check that you dropped/edited the desired session(s)

In [9]:
rgt.check_sessions(df2)

Subject  StartDate            Session
1        2003-01-19 00:00:00  12          72.0
         2003-04-19 00:00:00  13          81.0
         2003-05-19 00:00:00  14          94.1
         2003-07-19 00:00:00  15          78.0
         2003-08-19 00:00:00  16          83.0
         2003-11-19 00:00:00  17          49.1
         2003-12-19 00:00:00  18          53.0
         02/22/19             8           69.1
         02/25/19             9           85.0
         02/26/19             10          75.0
         02/27/19             11          83.0
         03/13/19             19         103.0
2        2003-01-19 00:00:00  12          72.1
         2003-04-19 00:00:00  13          80.1
         2003-05-19 00:00:00  14          88.0
         2003-07-19 00:00:00  15          92.1
         2003-08-19 00:00:00  16          71.0
         2003-11-19 00:00:00  17          99.0
         2003-12-19 00:00:00  18          99.1
         02/22/19             8           57.0
         02/25/19             9           71.1
         02/26/19             10          62.1
         02/27/19             11          77.1
         03/13/19             19          93.1
3        2003-01-19 00:00:00  12          79.1
         2003-04-19 00:00:00  13         106.0
         2003-05-19 00:00:00  14          98.0
         2003-07-19 00:00:00  15          74.0
         2003-08-19 00:00:00  16          76.1
         2003-11-19 00:00:00  17          60.0
         2003-12-19 00:00:00  18          55.1
         02/22/19             8           83.0
         02/25/19             9          111.0
         02/26/19             10          94.0
         02/27/19             11          88.1
         03/13/19             19          71.1
4        2003-01-19 00:00:00  12          84.0
         2003-04-19 00:00:00  13         119.0
         2003-05-19 00:00:00  14         149.0
         2003-07-19 00:00:00  15         135.0
         2003-08-19 00:00:00  16         126.0
         2003-11-19 00:00:00  17         146.0
         2003-12-19 00:00:00  18         135.0
         02/22/19             8           60.0
         02/25/19             9          106.1
         02/26/19             10         107.1
         02/27/19             11         115.0
         03/13/19             19         163.0
5        2003-01-19 00:00:00  12          57.1
         2003-04-19 00:00:00  13          74.1
         2003-05-19 00:00:00  14          91.0
         2003-07-19 00:00:00  15          84.0
         2003-08-19 00:00:00  16          74.0
         2003-11-19 00:00:00  17          86.0
         2003-12-19 00:00:00  18          82.1
         02/22/19             8           80.1
         02/25/19             9           99.1
         02/26/19             10          74.1
         02/27/19             11          81.1
         03/13/19             19         107.0
6        2003-01-19 00:00:00  12         119.1
         2003-04-19 00:00:00  13          96.0
         2003-05-19 00:00:00  14         129.1
         2003-07-19 00:00:00  15         128.1
         2003-08-19 00:00:00  16         151.1
         2003-11-19 00:00:00  17         113.1
         2003-12-19 00:00:00  18         120.1
         02/22/19             8           95.1
         02/25/19             9           91.0
         02/26/19             10          96.0
         02/27/19             11         126.0
         03/13/19             19         139.1
7        2003-01-19 00:00:00  12          93.0
         2003-04-19 00:00:00  13         120.0
         2003-05-19 00:00:00  14         164.0
         2003-07-19 00:00:00  15         148.0
         2003-08-19 00:00:00  16         140.0
         2003-11-19 00:00:00  17         144.0
         2003-12-19 00:00:00  18         159.0
         02/22/19             8           83.0
         02/25/19             9           76.1
         02/26/19             10         106.1
         02/27/19             11         112.0
         03/13/19             19         118.0
8        2003-01-19 00:00:00  12         112.0
         2003-04-19 00:00:00  13          95.0
         2003-05-19 00:00:00  14         135.1
         2003-07-19 00:00:00  15         121.0
         2003-08-19 00:00:00  16         135.1
         2003-11-19 00:00:00  17         108.0
         2003-12-19 00:00:00  18         110.1
         02/22/19             8           88.1
         02/25/19             9           86.1
         02/26/19             10         107.1
         02/27/19             11         118.0
         03/13/19             19         121.0
15       2003-01-19 00:00:00  12          88.0
         2003-04-19 00:00:00  13         105.1
         2003-05-19 00:00:00  14         103.0
         2003-07-19 00:00:00  15          98.0
         2003-08-19 00:00:00  16          96.1
         2003-11-19 00:00:00  17         122.0
         2003-12-19 00:00:00  18         115.0
         02/22/19             8           71.1
         02/25/19             9           96.0
         02/26/19             10          68.1
         02/27/19             11          81.0
         03/13/19             19         105.0
16       2003-01-19 00:00:00  12          59.1
         2003-04-19 00:00:00  13          81.0
         2003-05-19 00:00:00  14          90.1
         2003-07-19 00:00:00  15         119.0
         2003-08-19 00:00:00  16          82.1
         2003-11-19 00:00:00  17          89.0
         2003-12-19 00:00:00  18         104.0
         02/22/19             8           31.0
         02/25/19             9           77.1
         02/26/19             10          84.0
         02/27/19             11          85.0
         03/13/19             19         103.1
17       2003-01-19 00:00:00  12          77.0
         2003-04-19 00:00:00  13          95.1
         2003-05-19 00:00:00  14          90.0
         2003-07-19 00:00:00  15          78.1
         2003-08-19 00:00:00  16          94.1
         2003-11-19 00:00:00  17          70.1
         2003-12-19 00:00:00  18          90.0
         02/22/19             8           93.0
         02/25/19             9           87.1
         02/26/19             10          94.1
         02/27/19             11          79.0
         03/13/19             19          88.0
18       2003-01-19 00:00:00  12          78.1
         2003-04-19 00:00:00  13          90.0
         2003-05-19 00:00:00  14          78.1
         2003-07-19 00:00:00  15          77.1
         2003-08-19 00:00:00  16          70.1
         2003-11-19 00:00:00  17          70.0
         2003-12-19 00:00:00  18          83.0
         02/22/19             8           72.1
         02/25/19             9          112.1
         02/26/19             10         101.0
         02/27/19             11          79.0
         03/13/19             19          77.1
19       2003-01-19 00:00:00  12          60.1
         2003-04-19 00:00:00  13          88.1
         2003-05-19 00:00:00  14          83.1
         2003-07-19 00:00:00  15          86.1
         2003-08-19 00:00:00  16          51.0
         2003-11-19 00:00:00  17          55.0
         2003-12-19 00:00:00  18          50.0
         02/22/19             8           64.1
         02/25/19             9           62.0
         02/26/19             10          70.1
         02/27/19             11          62.1
         03/13/19             19          57.0
20       2003-01-19 00:00:00  12          58.0
         2003-04-19 00:00:00  13          45.0
         2003-05-19 00:00:00  14          53.0
         2003-07-19 00:00:00  15          55.0
         2003-08-19 00:00:00  16          54.0
         2003-11-19 00:00:00  17          47.0
         2003-12-19 00:00:00  18          52.0
         02/22/19             8           69.0
         02/25/19             9           71.0
         02/26/19             10          59.0
         02/27/19             11          62.1
         03/13/19             19          52.0
21       2003-01-19 00:00:00  12          63.0
         2003-04-19 00:00:00  13          89.0
         2003-05-19 00:00:00  14          69.1
         2003-07-19 00:00:00  15          75.0
         2003-08-19 00:00:00  16          76.1
         2003-11-19 00:00:00  17          80.1
         2003-12-19 00:00:00  18          86.1
         02/22/19             8           58.1
         02/25/19             9           80.1
         02/26/19             10          76.1
         02/27/19             11          58.1
         03/13/19             19         118.0
22       2003-01-19 00:00:00  12          59.0
         2003-04-19 00:00:00  13          74.0
         2003-05-19 00:00:00  14          79.0
         2003-07-19 00:00:00  15          76.0
         2003-08-19 00:00:00  16          67.1
         2003-11-19 00:00:00  17          77.0
         2003-12-19 00:00:00  18          65.1
         02/22/19             8           68.0
         02/25/19             9           56.0
         02/26/19             10          69.1
         02/27/19             11          62.1
         03/13/19             19          78.0
23       2003-01-19 00:00:00  12          62.1
         2003-04-19 00:00:00  13          53.1
         2003-05-19 00:00:00  14          51.1
         2003-07-19 00:00:00  15          52.1
         2003-08-19 00:00:00  16          45.1
         2003-11-19 00:00:00  17          68.1
         2003-12-19 00:00:00  18          70.1
         02/22/19             8           48.1
         02/25/19             9           57.0
         02/26/19             10          84.0
         02/27/19             11          73.0
         03/13/19             19          75.1
24       2003-01-19 00:00:00  12          86.1
         2003-04-19 00:00:00  13          79.1
         2003-05-19 00:00:00  14          71.1
         2003-07-19 00:00:00  15         105.0
         2003-08-19 00:00:00  16         105.1
         2003-11-19 00:00:00  17         108.0
         2003-12-19 00:00:00  18         127.0
         02/22/19             8          116.0
         02/25/19             9           86.0
         02/26/19             10         109.0
         02/27/19             11          93.1
         03/13/19             19         153.0
25       2003-01-19 00:00:00  12          46.1
         2003-04-19 00:00:00  13          58.0
         2003-05-19 00:00:00  14          59.0
         2003-07-19 00:00:00  15          47.0
         2003-08-19 00:00:00  16          44.1
         2003-11-19 00:00:00  17          67.1
         2003-12-19 00:00:00  18          46.1
         02/22/19             8           56.1
         02/25/19             9           50.0
         02/26/19             10          86.1
         02/27/19             11          53.1
         03/13/19             19          36.1
26       2003-01-19 00:00:00  12          57.1
         2003-04-19 00:00:00  13          79.1
         2003-05-19 00:00:00  14         115.0
         2003-07-19 00:00:00  15          78.0
         2003-08-19 00:00:00  16          81.1
         2003-11-19 00:00:00  17          87.0
         2003-12-19 00:00:00  18          91.0
         02/22/19             8           81.0
         02/25/19             9           82.1
         02/26/19             10          55.1
         02/27/19             11          75.1
         03/13/19             19          56.1
27       2003-01-19 00:00:00  12          63.1
         2003-04-19 00:00:00  13          43.1
         2003-05-19 00:00:00  14          60.0
         2003-07-19 00:00:00  15          67.0
         2003-08-19 00:00:00  16          50.1
         2003-11-19 00:00:00  17          57.1
         2003-12-19 00:00:00  18          54.1
         02/22/19             8           61.1
         02/25/19             9           44.1
         02/26/19             10          45.0
         02/27/19             11          55.1
         03/13/19             19          43.1
28       2003-01-19 00:00:00  12          74.0
         2003-04-19 00:00:00  13          80.0
         2003-05-19 00:00:00  14          81.0
         2003-07-19 00:00:00  15          92.1
         2003-08-19 00:00:00  16          72.1
         2003-11-19 00:00:00  17          89.0
         2003-12-19 00:00:00  18         102.0
         02/22/19             8           91.0
         02/25/19             9           77.1
         02/26/19             10          86.1
         02/27/19             11          85.0
         03/13/19             19         113.1
29       2003-01-19 00:00:00  12          67.1
         2003-04-19 00:00:00  13          98.1
         2003-05-19 00:00:00  14         115.1
         2003-07-19 00:00:00  15         112.0
         2003-08-19 00:00:00  16         119.0
         2003-11-19 00:00:00  17         101.1
         2003-12-19 00:00:00  18         119.0
         02/22/19             8           85.1
         02/25/19             9           66.0
         02/26/19             10          86.1
         02/27/19             11          84.1
         03/13/19             19         110.1
30       2003-01-19 00:00:00  12          96.0
         2003-04-19 00:00:00  13          79.1
         2003-05-19 00:00:00  14          89.1
         2003-07-19 00:00:00  15          87.0
         2003-08-19 00:00:00  16         112.1
         2003-11-19 00:00:00  17          80.0
         2003-12-19 00:00:00  18          91.1
         02/22/19             8          113.1
         02/25/19             9           80.1
         02/26/19             10          62.1
         02/27/19             11          79.0
         03/13/19             19          99.1
31       2003-01-19 00:00:00  12          86.0
         2003-04-19 00:00:00  13          68.0
         2003-05-19 00:00:00  14          63.1
         2003-07-19 00:00:00  15          72.0
         2003-08-19 00:00:00  16          52.1
         2003-11-19 00:00:00  17          52.1
         2003-12-19 00:00:00  18          51.1
         02/22/19             8           69.1
         02/25/19             9           69.0
         02/26/19             10          69.1
         02/27/19             11          63.1
         03/13/19             19          78.1
32       2003-01-19 00:00:00  12          48.1
         2003-04-19 00:00:00  13          44.0
         2003-05-19 00:00:00  14          56.1
         2003-07-19 00:00:00  15          54.0
         2003-08-19 00:00:00  16          63.1
         2003-11-19 00:00:00  17          54.0
         2003-12-19 00:00:00  18          51.1
         02/22/19             8           54.1
         02/25/19             9           60.0
         02/26/19             10          61.0
         02/27/19             11          65.1
         03/13/19             19          51.0
33       2003-01-19 00:00:00  12          46.0
         2003-04-19 00:00:00  13          61.0
         2003-05-19 00:00:00  14          57.1
         2003-07-19 00:00:00  15          48.0
         2003-08-19 00:00:00  16          67.0
         2003-11-19 00:00:00  17          58.0
         2003-12-19 00:00:00  18          65.1
         02/22/19             8           83.0
         02/25/19             9           59.0
         02/26/19             10          66.0
         02/27/19             11          51.1
         03/13/19             19          71.1
34       2003-01-19 00:00:00  12         106.1
         2003-04-19 00:00:00  13         112.0
         2003-05-19 00:00:00  14         134.0
         2003-07-19 00:00:00  15         106.1
         2003-08-19 00:00:00  16          97.0
         2003-11-19 00:00:00  17          92.1
         2003-12-19 00:00:00  18         124.1
         02/22/19             8           93.1
         02/25/19             9          117.0
         02/26/19             10         122.0
         02/27/19             11         126.1
         03/13/19             19         144.0
35       2003-01-19 00:00:00  12         101.0
         2003-04-19 00:00:00  13          52.0
         2003-05-19 00:00:00  14          75.0
         2003-07-19 00:00:00  15          49.0
         2003-08-19 00:00:00  16          80.0
         2003-11-19 00:00:00  17          66.0
         2003-12-19 00:00:00  18          89.0
         02/22/19             8           74.1
         02/25/19             9           86.1
         02/26/19             10          91.0
         02/27/19             11          73.0
         03/13/19             19          92.0
36       2003-01-19 00:00:00  12          89.1
         2003-04-19 00:00:00  13          60.0
         2003-05-19 00:00:00  14         125.0
         2003-07-19 00:00:00  15          61.1
         2003-08-19 00:00:00  16          70.1
         2003-11-19 00:00:00  17         122.0
         2003-12-19 00:00:00  18         116.1
         02/22/19             8          103.1
         02/25/19             9          103.0
         02/26/19             10         121.1
         02/27/19             11         111.1
         03/13/19             19         127.0
37       2003-01-19 00:00:00  12          73.0
         2003-04-19 00:00:00  13          71.1
         2003-05-19 00:00:00  14          33.0
         2003-07-19 00:00:00  15          78.0
         2003-08-19 00:00:00  16         103.0
         2003-11-19 00:00:00  17          82.0
         2003-12-19 00:00:00  18          90.1
         02/22/19             8           51.0
         02/25/19             9          106.1
         02/26/19             10          95.1
         02/27/19             11          89.1
         03/13/19             19         106.0
38       2003-01-19 00:00:00  12          64.1
         2003-04-19 00:00:00  13          87.1
         2003-05-19 00:00:00  14          74.0
         2003-07-19 00:00:00  15          85.0
         2003-08-19 00:00:00  16          72.1
         2003-11-19 00:00:00  17          53.1
         2003-12-19 00:00:00  18          58.1
         02/22/19             8           47.1
         02/25/19             9           56.1
         02/26/19             10          69.0
         02/27/19             11          62.1
         03/13/19             19          70.1
39       2003-01-19 00:00:00  12          66.0
         2003-04-19 00:00:00  13          68.0
         2003-05-19 00:00:00  14          68.0
         2003-07-19 00:00:00  15          66.0
         2003-08-19 00:00:00  16          67.0
         2003-11-19 00:00:00  17          59.0
         2003-12-19 00:00:00  18          68.0
         02/22/19             8           68.0
         02/25/19             9           88.1
         02/26/19             10         100.0
         02/27/19             11          65.0
         03/13/19             19          74.0
40       2003-01-19 00:00:00  12          96.1
         2003-04-19 00:00:00  13         103.0
         2003-05-19 00:00:00  14         102.0
         2003-07-19 00:00:00  15         101.0
         2003-08-19 00:00:00  16         120.0
         2003-11-19 00:00:00  17          94.1
         2003-12-19 00:00:00  18         114.0
         02/22/19             8           86.0
         02/25/19             9           97.1
         02/26/19             10          93.1
         02/27/19             11          97.1
         03/13/19             19          97.1
41       2003-01-19 00:00:00  12          60.1
         2003-04-19 00:00:00  13          59.0
         2003-05-19 00:00:00  14          54.0
         2003-07-19 00:00:00  15          58.0
         2003-08-19 00:00:00  16          69.0
         2003-11-19 00:00:00  17          66.0
         2003-12-19 00:00:00  18          69.1
         02/22/19             8           46.0
         02/25/19             9           51.1
         02/26/19             10          82.1
         02/27/19             11          59.1
         03/13/19             19          76.0
42       2003-01-19 00:00:00  12          97.0
         2003-04-19 00:00:00  13         104.0
         2003-05-19 00:00:00  14         106.0
         2003-07-19 00:00:00  15         105.0

In [12]:
df2.to_excel("CH01_corrected.xlsx")

## Data processing

### Calculate variables for each rat

In [ ]:
df_sum = rgt.get_summary_data(df2) #change to df instead of df2 if you didn't do any session editing
# df_sum.loc[:,'risk8':'risk12'] 
df_sum

In [ ]:
df.groupby(['MSN','Subject'])['Trial'].count() #shows subject on certain version of task (A vs. B)

### Get the risk status of the rats

In [ ]:
df_sum, risky, optimal = rgt.get_risk_status(df_sum, startsess, endsess)

print(df_sum[['mean_risk','risk_status']]) 
print(risky, optimal)

### Export your data to an Excel file

In [ ]:
rgt.export_to_excel(df_sum, groups = group_list, column_name = 'cRGT variant', new_file_name = 'CH01_summary-2.xlsx')

## Calculate means and SEMs for your experimental groups

In [ ]:
mean_scores, SEM = rgt.get_means_sem(df_sum, groups = group_list, group_names = group_names)
mean_scores
# SEM

# 2B) Baseline & Acquisition Analysis: Plotting

## Bar plot of P1-P4 % choice

In [ ]:
rgt.choice_bar_plot(startsess, endsess, mean_scores, SEM)

#To save figure:
# plt.savefig('BH07 Choice S29-30',facecolor = 'white')

## Line plot of other variables

In [ ]:
rgt.rgt_plot('risk', startsess, endsess, title, mean_scores, SEM, group_names = group_names, y_label = 'Risk score') 

rgt.rgt_plot('prem', startsess, endsess, title, mean_scores, SEM, group_names = group_names, y_label = 'Premature responding')

## Bar plot of other variables

In [ ]:
rgt.rgt_bar_plot('risk', startsess, endsess, title, mean_scores, SEM, group_names, y_label = 'Risk score')