# SparklyRGT: rGT functions for data manipulation and visualization

**About:** The purpose of this Notebook is to demonstrate how to summarize, manipulate, and plot rGT data using the sparklyRGT package. It serves as a reference point for data analysis, and should not be edited. 

**Contact:**
* Dexter Kim: dexterkim2000@gmail.com
* Brett Hathaway: bretthathaway@psych.ubc.ca

**Requirements**
* Familiarity with Jupyter Notebook (https://www.youtube.com/watch?v=jZ952vChhuI)
* Please read the `readme.md` file before starting
* The data must be an excel file from MEDPC2XL (trial by trial data) 
* The data, sparklyRGT.py file, and this notebook must all be in the same folder
    * See [Section 4](#Changing-your-working-directory) if you want to have your data stored in a different folder

## Table of contents
* Section 1: [Loading data into Python](#1\)-Load-data-into-Python)
* Section 2: Baseline & Acquisition Analysis
    * 2A: [Data cleaning and processing](#2A\)-Baseline-&-Acquisition-Analysis)
    * 2B: [Plotting](#2B\)-Baseline-&-Acquisition-Analysis:-Plotting)
* Section 3: Latin Square Analysis and Plotting
    * 3A: [Data cleaning and processing](#3A\)-Latin-Square-Analysis)
    * 3B: [Plotting](#3B\)-Latin-Square-Analysis:-Plotting)
* Section 4: [Choice rGT](#4\)-Choice-rGT)
* Section 5: [Miscellaneous](#5\)-Miscellaneous)



**Please run the following cell before starting!**

In [2]:
#MEDPC rat gambling task functions imports, will print "I am being executed!" if functional
import sparklyRGT as rgt

#main imports 
import os
import pandas as pd
import numpy as np

# plotting imports 
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator

# stats imports 
import scipy.stats as stats

#the following lines prevents pandas from giving unecessary errors and increases the number of rows you can view 
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows',100)

I am being executed!

***

# 1) Load data into Python

[back to top](#rGT-functions-for-data-manipulation-and-visualization)

* Write the names of the files that you want to load in as a list to `file_names`

`df = load_data(file_names, reset_sessions = False)` 
* creates a table similar to the excel sheet(s) you loaded in. (in the order established in `file_names`) 
* `df` stands for dataframe, and will store the data you load in as a table
* passing `reset_sessions = True`:
    * makes the session numbers start from 1 again (you may want to do this for baseline analysis or if you're loading in multiple projects)
* note: changes `'Session'` and `'Subject'` from float to int, and removes completely blank rows
    
`df = load_multiple_data(file_names, reset_sessions = False)` 
* loads in multiple cohorts (with the same subject numbers) and assigns them unique subject numbers (ex. subject 1 of cohort 1 --> subject 101)

In [3]:
file_names = ['BH07_raw_free_S29-30.xlsx'] 

df = rgt.load_data(file_names)

#load_data won't print the dataframe. Use the following function to view the top of your dataframe. 
#Note: it should look the exact same as your first excel file. 

df.head()

,MSN,StartDate,StartTime,Subject,Group,Box,Experiment,Comment,Session,Trial,...,Pun_Persev_H5,Pun_HeadEntry,Pun_Dur,Premature_Resp,Premature_Hole,Rew_Persev_H1,Rew_Persev_H2,Rew_Persev_H3,Rew_Persev_H4,Rew_Persev_H5
0,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,1.0,...,3,3,30,0,0,0,0,0,0,0
1,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,2.1,...,0,0,0,1,5,0,0,0,0,0
2,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,2.0,...,3,2,30,0,0,0,0,0,0,0
3,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,3.0,...,0,0,0,0,0,0,0,0,0,0
4,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,4.0,...,2,2,30,0,0,0,0,0,0,0

***
# 2A) Baseline & Acquisition Analysis

[back to top](#rGT-functions-for-data-manipulation-and-visualization)

Set your objects! These will be used in the rest of section 2A and 2B. Examples are left in for clarity.
* Assign the rat subject numbers for each group to `exp_group` and `control_group`
    * you can add additional groups - just ensure you also add them to the group_list and group_names
* Assign the names of your groups to `group_names`
    * as a dictionary
* Put your groups together into a list
    * **must** be in the same order as they are in group_names 
* For plotting:
    * Assign the title of the project to `title`
    * Assign the range of sessions you want to include in figures to `startsess` and `endsess`

In [ ]:
control_group = [3, 4, 5, 6, 9, 13, 14, 15, 17, 18, 23, 24, 27, 28, 30, 31] #In this example: Tg negative rats

exp_group = [1, 2, 7, 8, 11, 12, 16, 19, 20, 21, 22, 25, 26, 29, 32] #In this example: Tg positive rats

group_names = {0: 'Tg negative',
              1: 'Tg positive'} 

group_list = [control_group, exp_group]

#for plotting: 
title = 'Nigrostriatal activation during acquisition' 

startsess = 29 #first session you would like to include in figures
endsess = 30 #last session you would like to include in figures

## Data cleaning

### Check your session data
* `check_sessions` gives us a summary for each rat including session numbers, session dates and # of trials for each session.
* This allows us to see if there are any missing/incorrect session numbers, and if MED-PC exported all of the desired data into the Excel file you loaded in (`file_names`).

In [ ]:
rgt.check_sessions(df)

### Dropping & editing session numbers
* `rgt.drop_sessions(df, [session numbers])`
    * pass the df you loaded in and the session number(s) you'd like to remove (as a list)
    * For example, to remove all data from session 28 and 29, I would write: `rgt.drop_sessions(df, [28, 29])`
    * Requirement: session number must exist in the session column of df
    
    
* `rgt.edit_sessions(df, orig_sess = [list], new_sess = [list], subs = 'all')`
    * write the original session numbers you want to remove in `orig_sess`, and the numbers you want to replace them with in `new_sess`, in the correct order 
    * For example, to change **all** 30s to 29s, and 31s to 30s, I would write: `rgt.edit_sessions(df2, orig_sess = [30, 31], new_sess = [29, 30], subs = "all")`
    * If you want to make edits, **for certain subjects**, I would assign the subject numbers to  `subs`. For example, I would write `subs = [17, 21]`
    

* **in both cases:** assign to a new object (i.e., `df2`), or if you are sure you want to make these edits, you can save over the original df (assign to `df`)

In [ ]:
df2 = rgt.drop_sessions(df, [28])

#example for edit_sessions: 
#df2 = rgt.edit_sessions(df2, orig_sess = [30, 31], new_sess = [29, 30], subs = "all")

#### Check that you dropped/edited the desired session(s)

In [ ]:
rgt.check_sessions(df2)

## Data processing

### Calculate variables for each rat

`df_sum = rgt.get_summary_data(df, mode = 'Session')`

In df_sum, the rows represent subjects (rats 1 to n)

The columns are explained below:
* `##P#` represents the percent choice of each option. For example, `29P1` represents the percentage of times P1 was selected during the 29th session. 
* `risk##` represents the risk score for each session: (P1 + P2) - (P3 + P4) 
* `collect_lat##` represents the mean collect latency for each session
* `choice_lat##` represents the mean choice latency for each session 
* `omit##` represents the number of omissions for each session
* `trial##` represents the number of trials completed for each session
* `prem##` represents the percentage of premature responses for each session

In [6]:
df_sum = rgt.get_summary_data(df) #change to df instead of df2 if you didn't do any session editing
df_sum #prints the dataset

,28P1,28P2,28P3,28P4,29P1,29P2,29P3,29P4,30P1,30P2,...,choice_lat30,omit28,omit29,omit30,trial28,trial29,trial30,prem28,prem29,prem30
1,NaN,NaN,NaN,NaN,90.8397,0,8.39695,0.763359,83.0645,0,...,0.655323,NaN,0,0,NaN,131.1,124.0,NaN,26.404494,24.848485
2,NaN,NaN,NaN,NaN,9.33333,65.3333,10.6667,14.6667,4.93827,76.5432,...,1.249012,NaN,1,0,NaN,76.1,81.0,NaN,30.275229,33.606557
3,NaN,NaN,NaN,NaN,2.17391,8.69565,56.5217,32.6087,0,11.6279,...,3.652791,NaN,3,2,NaN,49.0,45.0,NaN,3.921569,6.250000
4,NaN,NaN,NaN,NaN,5.88235,73.5294,4.90196,15.6863,13.4021,64.9485,...,0.885258,NaN,1,0,NaN,103.0,97.0,NaN,13.445378,24.218750
5,NaN,NaN,NaN,NaN,0,1.53846,98.4615,0,9.375,7.8125,...,3.176250,NaN,3,5,NaN,68.1,69.0,NaN,8.108108,16.867470
6,NaN,NaN,NaN,NaN,2.5,70,0,27.5,2.94118,63.2353,...,1.859265,NaN,8,7,NaN,88.0,75.0,NaN,9.278351,15.730337
7,11.3208,7.54717,66.0377,15.0943,3.07692,10.7692,64.6154,21.5385,1.81818,10.9091,...,1.194545,0.0,0,0,53.0,65.0,56.1,46.464646,16.666667,34.523810
8,NaN,NaN,NaN,NaN,2.41935,92.7419,0.806452,4.03226,2.47934,94.2149,...,1.956033,NaN,0,0,NaN,124.0,121.0,NaN,10.144928,12.949640
9,NaN,NaN,NaN,NaN,3.27869,3.27869,90.1639,3.27869,5.26316,7.01754,...,2.754211,NaN,1,4,NaN,62.0,61.0,NaN,20.512821,11.594203
11,NaN,NaN,NaN,NaN,10.687,88.5496,0.763359,0,8.14815,91.1111,...,1.667852,NaN,1,0,NaN,132.0,136.1,NaN,2.222222,7.534247
12,NaN,NaN,NaN,NaN,18.5185,42.5926,0,38.8889,22.5352,49.2958,...,1.667324,NaN,0,1,NaN,54.0,72.0,NaN,32.500000,20.879121
13,NaN,NaN,NaN,NaN,7.8125,28.125,60.9375,3.125,5.35714,25,...,2.651429,NaN,3,4,NaN,67.0,60.0,NaN,14.102564,17.808219
14,NaN,NaN,NaN,NaN,2.5,55,40,2.5,1.0989,84.6154,...,3.094835,NaN,0,0,NaN,80.1,91.0,NaN,23.076923,14.953271
15,NaN,NaN,NaN,NaN,2.04082,20.4082,69.3878,8.16327,3.44828,32.7586,...,1.517241,NaN,5,2,NaN,54.0,60.1,NaN,12.903226,16.666667
16,NaN,NaN,NaN,NaN,14.0351,21.0526,10.5263,54.386,9.61538,25,...,2.626538,NaN,0,6,NaN,57.0,59.1,NaN,16.176471,19.444444
17,5.26316,49.1228,40.3509,5.26316,8.10811,37.8378,48.6486,5.40541,12.5,42.1875,...,1.780156,5.0,6,9,63.1,43.1,73.0,25.301205,29.508197,10.975610
18,NaN,NaN,NaN,NaN,4.05405,68.9189,27.027,0,5.97015,62.6866,...,2.801791,NaN,2,2,NaN,76.0,69.0,NaN,7.317073,5.479452
19,NaN,NaN,NaN,NaN,19.4444,30.5556,38.8889,11.1111,13.5135,40.5405,...,2.267973,NaN,0,2,NaN,72.0,76.0,NaN,19.101124,10.588235
20,NaN,NaN,NaN,NaN,1.94175,94.1748,1.94175,1.94175,5,90,...,3.147800,NaN,4,9,NaN,107.1,109.0,NaN,3.603604,1.801802
21,NaN,NaN,NaN,NaN,27.2727,31.8182,18.1818,22.7273,22.2222,30.5556,...,1.821806,NaN,4,2,NaN,70.0,74.0,NaN,22.222222,20.430108
22,3.33333,87.5,0.833333,8.33333,4.38596,82.4561,4.38596,8.77193,7.95455,68.1818,...,1.280909,1.0,1,0,121.0,115.0,88.0,8.333333,10.852713,24.137931
23,NaN,NaN,NaN,NaN,7.77778,78.8889,7.77778,5.55556,11.3208,77.3585,...,1.411792,NaN,0,1,NaN,90.0,107.1,NaN,30.232558,18.939394
24,NaN,NaN,NaN,NaN,9.90099,72.2772,11.8812,5.94059,11,78,...,1.537000,NaN,13,17,NaN,114.0,117.0,NaN,5.000000,10.687023
25,NaN,NaN,NaN,NaN,0,0,100,0,1.5625,0,...,1.558594,NaN,0,1,NaN,66.0,65.0,NaN,19.512195,21.686747
26,NaN,NaN,NaN,NaN,12.1622,58.1081,5.40541,24.3243,20,45,...,0.972500,NaN,0,0,NaN,75.1,61.1,NaN,43.511450,56.521739
27,NaN,NaN,NaN,NaN,18.2927,48.7805,19.5122,13.4146,23.4043,54.2553,...,1.580957,NaN,2,1,NaN,84.0,95.0,NaN,13.402062,11.214953
28,NaN,NaN,NaN,NaN,10.3896,64.9351,2.5974,22.0779,7.77778,60,...,1.291444,NaN,4,1,NaN,81.0,91.1,NaN,4.705882,10.784314
29,NaN,NaN,NaN,NaN,26.5823,10.1266,53.1646,10.1266,14.2857,18.5714,...,1.846429,NaN,0,2,NaN,79.0,72.0,NaN,15.957447,15.294118
30,NaN,NaN,NaN,NaN,0,100,0,0,0.775194,93.7984,...,0.593953,NaN,1,0,NaN,125.0,129.0,NaN,16.666667,15.131579
31,NaN,NaN,NaN,NaN,7.27273,83.6364,3.63636,5.45455,2.24719,87.6404,...,2.679663,NaN,0,1,NaN,55.0,90.0,NaN,12.698413,10.891089
32,NaN,NaN,NaN,NaN,0,47.619,7.93651,44.4444,6.34921,47.619,...,3.479206,NaN,12,18,NaN,75.0,81.0,NaN,6.250000,4.705882

### Missing data

Check out the `impute_missing_data()` function in the [Miscellaneous section](#Impute-missing-data-by-taking-the-mean)


### Get the risk status of the rats

`df_sum, risky, optimal = rgt.get_risk_status(df_sum, startsess, endsess)`


This code adds two columns to your df: `mean_risk` and `risk_status`


* `risk_status == 1` indicates a positive risk score (optimal) 
* `risk_status == 2` indicates a negative risk score (risky)
* `mean_risk` is the mean risk score averaged across the sessions between `startsess` and `endsess` for a given subject
    * You can change `startsess` and `endsess` by passing the session numbers instead. For example, `rgt.get_risk_status(df_sum, 28, 30)`
    * Requirement: `startsess` and `endsess` must be in the df
* `print(risky, optimal)` prints out 2 lists of rat subjects: the risky rats, and the optimal rats

In [ ]:
df_sum, risky, optimal = rgt.get_risk_status(df_sum, startsess, endsess)

print(df_sum[['mean_risk','risk_status']]) 
print(risky, optimal)

### Export your data to an Excel file 

`export_to_excel(df, groups = None, column_name = 'group', new_file_name = 'summary_data', asin = False)`

* `groups`(optional): pass the group_list defined at the beginning of this Notebook to add a column that specifies which experimental group each rat is in
    * numbers will be assigned according to their order in group_list (in this example: `Tg negative rats == 0`, `Tg positive rat == 1`)
* `column_name`: Assign a name to the column in the exported Excel file that will specify the control vs. experimental group. In this example: `tg_status`
* `new_file_name`: Assign the name of the **new** Excel file that you're exporting
* `asin`: False by default; passing `asin = True` will perform an arcsine transformation on percentage variables: P1-P4 and premature responding
    * can then be imported into SPSS for analysis

In [ ]:
rgt.export_to_excel(df_sum, groups = group_list, column_name = 'tg_status', new_file_name = 'BH07_free_S29-30.xlsx', asin = True)

## Calculate means and SEMs for your experimental groups

`mean_scores, SEM = rgt.get_means_sem(df_sum, groups = None, group_names = None)`

* `df_sum`: the summary dataframe you created above, with the variables calculated per rat
* `groups`: the list of groups created at the start of this section (`group_list`)
* `group_names`: the dictionary of group names created at the start of this section (`group_names`)

Output:
* `mean_scores`: each value is the mean for that variable (ex. `29P1`) for each experimental group (in this example: `tg negative` and `tg positive`) 
* `SEM`: each value is the standard error of the mean for that variable for each experimental group
* If you want to view certain columns, specify them as a list in square brackets following `mean_scores` or `SEM`
    * For example, `mean_scores[['risk29', 'risk30']]` will display a table with only those 2 columns


These can also be exported to an excel file, using `mean_scores.to_excel('file name.xlsx')` or `SEM.to_excel('file name.xlsx')`
* check out [this link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html) for more details

In [ ]:
mean_scores, SEM = rgt.get_means_sem(df_sum, groups = group_list, group_names = group_names)
mean_scores #view all mean scores (truncated)
# mean_scores[['risk29', 'risk30']] #view certain columns

### Calculate means and SEMS for your experimental groups, split by risk status and/or sex

* Can use a technique called list comprehension to create lists of experimental risky rats, experimental optimal rats, etc.
    * example given below
    
    
* Alternatively, you can just manually type in the lists: 
    * e.g., `control_risky` = [1,2,3]
    
    
* You can adapt this code to split by sex, or further split risk groups by sex:
    * First, create a list of female and male subjects: `female = [1,2,3]`; `male = [4,5,6]`
    * `control_female = [subject for subject in control_group if subject in female]`
    * `control_risky_female = [subject for subject in control_risky if subject in female]`


* You can create as many groups as you like, just make sure you add them to `group_list_risk` and `group_names_risk`!

In [ ]:

control_risky = [subject for subject in control_group if subject in risky]
exp_risky = [subject for subject in exp_group if subject in risky]

control_optimal = [subject for subject in control_group if subject in optimal]
exp_optimal = [subject for subject in exp_group if subject in optimal]


group_list_risk = [control_risky,exp_risky, control_optimal, exp_optimal]

#make sure the group names are in the same order as the group list!
group_names_risk = {0:'Control risky', 
                    1: 'Experimental risky',
                    2: 'Control optimal',
                    3: 'Experimental optimal'}

mean_scores_risk, SEM_risk = rgt.get_means_sem(df_sum, group_list_risk, group_names_risk)

mean_scores_risk

# 2B) Baseline & Acquisition Analysis: Plotting

[back to top](#rGT-functions-for-data-manipulation-and-visualization)

**For all plotting functions**: If you are missing data for a particular rat, error bars will not appear on the figures

## Bar plot of P1-P4 % choice

`rgt.choice_bar_plot(startsess, endsess, mean_scores, SEM)`

* This function plots the mean P1-P4 choices for the experimental groups 
    * You can change startsess and endsess to calculate the mean over whichever sessions you like

In [ ]:
rgt.choice_bar_plot(startsess, endsess, mean_scores, SEM)

#to save this figure (or any other figure):
plt.savefig('BH07 Choice S29-30',facecolor = 'white')

## Line plot of other variables

`rgt.rgt_plot('variable', startsess, endsess, title, mean_scores, SEM, group_names = group_names, y_label = 'variable name', highlight = None)`
* `variable`: specifies the variable you want to plot. 
    * For example, if I want to plot `choice_lat`, I would replace `variable` with `'choice_lat'` (just the variable name, don't include session numbers)
* `startsess` and `endsess`: specifies the range of session numbers you'd like to plot 
    * For example, if I want to plot `choice_lat` over sessions 29 to 31, I would replace `startsess` and `endsess` with `29` and `31` respectively
    * Requirement: `startsess` and `endsess` must be in the df
* `group_names`: pass a dictionary with the `mean_scores` index for each group as the keys and the names of groups as the values (defined at beginning of this Notebook)
* `y_label`: specifies the Y axis label
* `highlight`: specify a session number - a line will be added at that session and the figure will be shaded gray to the right of the line
    * useful if you take your rats off of a drug or otherwise change your experimental manipulation, and want to represent that on the figure

In [ ]:
rgt.rgt_plot('risk', startsess, endsess, title, mean_scores, SEM, group_names = group_names, y_label = 'Risk score')

## Bar plot of other variables

`rgt.rgt_bar_plot('variable', startsess, endsess, title, mean_scores, SEM, group_names = group_names, y_label = 'Variable name')`

* takes the mean of specified `variable` over session range specified by `startsess` and `endsess`
* plots as bar plot for each group specified in `group_names` dictionary
* `y_label`: Y axis label

In [ ]:
rgt.rgt_bar_plot('risk', startsess, endsess, title, mean_scores, SEM, group_names, y_label = 'Risk score')

## Plotting by risk status

### Bar plot of P1-P4 % Choice

* Use the functions above but pass `group_names_risk`, `mean_scores_risk` and `SEM_risk` instead

In [ ]:
rgt.choice_bar_plot(startsess, endsess, mean_scores_risk, SEM_risk)

In [ ]:
rgt.rgt_plot('risk', startsess, endsess, title, mean_scores_risk, SEM_risk, group_names = group_names_risk, y_label = 'Risk score')

In [ ]:
rgt.rgt_bar_plot('prem', startsess, endsess, title, mean_scores_risk, SEM_risk, group_names = group_names_risk,y_label = 'Premature responding')

***
# 3A) Latin Square Analysis

[back to top](#rGT-functions-for-data-manipulation-and-visualization)

**This section assumes you have assigned dosing information to the 'Group' variable in MEDPC**
* in this example: vehicle = 1 in Group column, low dose = 2, mid dose = 3, high dose = 4

Set your objects! These will be used in the rest of section 3A and 3B. Examples are left in for clarity.
* Assign the names of the files that you want to analyze to `file_names`
* Assign a title, for plotting
* Assign the startdose and enddose variables - 1 and 4 in this example 

**Note:** This section assumes all of your rats received the same manipulation; if you have multiple experimental groups (e.g., different brain regions, Tg+/Tg-) in your dataset, see [Miscellaneous section](#Example:-between-subjects-analysis-for-Latin-Square-dataset) for an example of how to do so

In [ ]:
file_names = ['BH06_raw_round1-infusions.xlsx', 'BH06_raw_round1-makeup.xlsx'] 

df = rgt.load_data(file_names)

#for plotting: 
title = '5-HT2c Antagonist' 

#lowest group number
startdose =  1
#highest group number
enddose = 4

## Data cleaning

### Check the Group numbers for each rat

`rgt.check_groups(df)`
* This function will show you the Group numbers and trials completed for each rat

In [ ]:
rgt.check_groups(df)

### Drop subjects & edit Group numbers

`df2 = rgt.edit_groups(df, orig_group = [list], new_group = [list], subs = 'all')`

* `orig_group`: enter the group number(s) that you want to change in square brackets 
* `new_group`: enter the new group number(s) you want to change to 
    * pay attention to order: first group number in `orig_group` will be changed to first group number in `new_group`, and so on for additional numbers    
* `subs`: by default this equals 'all' (changes will be made for all subjects)
    * pass a list of subject numbers if you only want to change the group numbers for certain subjects

`df2 = rgt.drop_subjects(df, subs = [list])`

* `subs`: enter a list of subjects that you want to remove the data for

**in both cases:** assign to a new object (i.e., `df2`), or if you are sure you want to make these edits, you can save over the original df (assign to `df`)

In [ ]:
df2 = rgt.edit_groups(df, orig_group = [0], new_group = [3], subs = [5])

df2 = rgt.drop_subjects(df, subs = [7])

### Check that you edited the Group number/dropped subjects as desired

In [ ]:
rgt.check_groups(df2)

## Data processing

### Calculate variables for each rat at each dose

`df_sum = rgt.get_summary_data(df, mode = 'Group')`
* **for Latin Square data, make sure you pass `mode = 'Group'` to this function (will calculate by Session by default)**

The rows represent subjects (rats 1 to n)

The columns are explained below:
* `##P#` represents the percent choice of each option. For example `1P1` represents the percent choice of P1 at dose 1
* `risk##` represents the risk score for each dose: (P1 + P2) - (P3 + P4) 
* `collect_lat##` represents the mean collect latency for each dose
* `choice_lat##` represents the mean choice latency for each dose
* `omit##` represents the number of omissions for each dose
* `trial##` represents the number of trials completed for each dose
* `prem##` represents the number of premature responses for each dose

In [ ]:
df_sum = rgt.get_summary_data(df2, mode = 'Group')
df_sum

### Impute missing data
`rgt.impute_missing_data(df, session = None, subject = None, choice = 'all', vars = 'all')`

* This function is described in the [Miscellaneous section](#Impute-missing-data-by-taking-the-mean)

In [ ]:
df_sum = rgt.impute_missing_data(df_sum, session = 2, subject = 12, choice = 'all', vars = 'all')

### Get risk status based on vehicle dose data

`df_sum,risky,optimal = rgt.get_risk_status_vehicle(df_sum)`

This function adds a column to your df: `risk_status`, calculated from the Vehicle dose data

* Note: 
    * `risk_status == 1` indicates a positive risk score (optimal) 
    * `risk_status == 2` indicates a negative risk score (risky)
    * `print(risky, optimal)` prints out 2 lists of rat subjects: the risky rats, and the optimal rats

In [ ]:
df_sum,risky,optimal = rgt.get_risk_status_vehicle(df_sum)
print(risky, optimal)

### Export your data to an Excel file!

`export_to_excel(df, groups = None, column_name = 'group', new_file_name = 'summary_data', asin = False)`

* In this example: only one experimental condition, so optional groups and column_name arguments are not included
* `new_file_name`: Assign the name of the **new** Excel file that you're exporting
* `asin`: False by default; passing `asin = True` will perform an arcsine transformation on percentage variables: P1-P4 and premature responding
    * can then be imported into SPSS for analysis

In [ ]:
rgt.export_to_excel(df_sum, new_file_name = 'BH06_all-data.xlsx', asin = True)

## Calculate means and SEMs for each dose

`mean_scores, SEM = rgt.get_means_sem(df_sum, groups = None, group_names = None)`

* `df_sum`: the summary dataframe you created above, with the variables calculated per rat
* `groups`: None by default, so doesn't need to be included 
* `group_names`: None by default, so doesn't need to be included
    * if not included, group name will be automatically assigned as 'All rats'

Output:
* `mean_scores`: each value is the mean for that variable (ex. `29P1`) for all rats 
* `SEM`: each value is the standard error of the mean for that variable for all rats
* If you want to view certain columns, specify them as a list in square brackets following `mean_scores` or `SEM`
    * For example, `mean_scores[['risk1', 'risk2']]` will display a table with only those 2 columns


These can also be exported to an excel file, using `mean_scores.to_excel('file name.xlsx')` or `SEM.to_excel('file name.xlsx')`
* check out [this link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html) for more details

In [ ]:
mean_scores, SEM = rgt.get_means_sem(df_sum)
mean_scores
# mean_scores[['omit3', 'omit4']]

### Calculating means and SEMS separately for risky and optimal rats

* you can pass risky and optimal lists, along with the group names, to the `get_means_sem` function to calculate mean/SEM values separately

In [ ]:

groups_risk = [risky,optimal]
group_names_risk = {0: 'Risky',
                    1: 'Optimal'}

means_risk, SEM_risk = rgt.get_means_sem(df_sum, groups = groups_risk, group_names = group_names_risk)

means_risk

# 3B) Latin Square Analysis: Plotting

[back to top](#rGT-functions-for-data-manipulation-and-visualization)

**For all plotting functions**: If you are missing data for a particular rat, error bars will not appear on the figures

## Bar plot for P1-P4 % Choice

`rgt.ls_bar_plot('group name',mean_scores,SEM)`

* `'group name'`: replace with the group name that you would like to plot
    * assigned as 'All rats' if group names are not passed to the function `rgt.get_means_SEM`

In [ ]:
rgt.ls_bar_plot('All rats',mean_scores,SEM)

## Line plot of other variables

`rgt.rgt_plot('variable', startsess, endsess, title, mean_scores, SEM, y_label = 'variable', x_label = 'Session')`
* `variable`: specifies the variable you want to plot. 
    * For example, if I want to plot `choice_lat`, I would replace `variable` with `'choice_lat'` (just the variable name, don't include session numbers)
* `startsess` and `endsess`: specifies the range of session numbers you'd like to plot 
    * **For Latin Square analysis**: We will pass the start and end Dose numbers (assigned to Group in MEDPC) - 1 and 4 in this example (startdose and enddose defined at beginning of this section)
* `y_label`: specifies the Y axis label
* `x_label`: specifies the X axis label; 'Session' by default, but here we want it to be 'Dose'

In [ ]:
rgt.rgt_plot('risk',startdose,enddose,title,mean_scores,SEM,y_label = 'Risk score', x_label = 'Dose')

## Plotting by risk status

for `rgt.ls_bar_plot('group', means, SEM)`:
* pass 'Risky' or 'Optimal' as the first argument, instead of 'All rats'
* use `means_risk` and `SEM_risk` instead

In [ ]:
rgt.ls_bar_plot('Risky',means_risk,SEM_risk)
rgt.ls_bar_plot('Optimal',means_risk,SEM_risk)

### Line plots for other variables by risk status

`rgt.rgt_plot('variable',startdose,enddose,title,means,SEM,group_names = None, y_label = 'variable', x_label = 'Dose')`

* pass an additional argument to `rgt.rgt_plot`: group_names = group_names_risk
* use means_risk and SEM_risk instead 
* assign `x_label` as 'Dose' (`x_label = 'Session'` by default)

In [ ]:
rgt.rgt_plot('risk',startdose,enddose,title,means_risk,SEM_risk,group_names = group_names_risk, y_label = 'Risk score', x_label = 'Dose')

***
# 4) Choice rGT

[back to top](#SparklyRGT:-rGT-functions-for-data-manipulation-and-visualization)

Set your objects! These will be used in the rest of section 4. Examples are left in for clarity.
* Assign the rat subject numbers for each group to `males` and `females`
    * you can add additional groups - just ensure you also add them to the group_list and group_names
* Assign the names of your groups to `group_names`
    * as a dictionary
* Put your groups together into a list
    * **must** be in the same order as they are in group_names 
* For plotting:
    * Assign the title of the project to `title`
    * Assign the range of sessions you want to include in figures to `startsess` and `endsess`

In [ ]:
males = list(range(1,33))

females = []

group_names = {0: 'males',
              1: 'females'} 

group_list = [males,females]

#for plotting: 
title = 'Choice rGT' 

startsess = 1 #first session you would like to include in figures
endsess = 15 #last session you would like to include in figures

**To be added**: check_sessions, drop and edit_sessions, etc. 

A detailed description of the following functions can be found in section 2A

In [ ]:
# rgt.check_sessions(df)
# df2 = rgt.drop_sessions(df, [28])
# df2 = rgt.edit_sessions(df2, orig_sess = [30, 31], new_sess = [29, 30], subs = "all")

## Data processing

### Calculate variables for each rat

`df_sum = rgt.get_summary_data(df, mode = 'Session', task = 'choiceRGT)`

In df_sum, the rows represent subjects (rats 1 to n)

The columns are explained below:
* `#_(un)cued_P#` represents the percent choice of each option in the cued/uncued task. For example, `2_cued_P1` represents the percentage of times P1 was selected during the 2nd session. 
* `risk_(un)cued_#` represents the risk score for each session: (P1 + P2) - (P3 + P4) 
* `co_lat_(un)cued#` represents the mean collect latency for each session ***not alternating 
* `ch_lat_(un)cued#` represents the mean choice latency for each session ***not alternating
* `(un)cued_lev_lat#` represents the mean lever latency for each session
* `(un)cued_omit#` represents the number of choice omissions for each session
* `lev_omit#` represents the number of lever omissions for each session
* `trial_(un)cued_#` represents the number of trials completed for each session
* `prem_(un)cued_#` represents the percentage of premature responses for each session
* `pref#` represents the percentage of choosing cuedRGT over uncuedRGT [cued / (cued + uncued)] for each session

If you are getting a ValueError, try running the following lines before `rgt.get_summary_data`

`df.dropna(how = 'all', inplace = True)
df.reset_index(drop=True, inplace = True)
df['Session'] = df['Session'].astype(int)
df['Subject'] = df['Subject'].astype(int)`

In [ ]:
# df.dropna(how = 'all', inplace = True)
# df.reset_index(drop=True, inplace = True)
# df['Session'] = df['Session'].astype(int)
# df['Subject'] = df['Subject'].astype(int)

In [ ]:
df_sum = rgt.get_summary_data(df, task = 'choiceRGT')
df_sum

### Export your data to an Excel file 

`export_to_excel(df, groups = None, column_name = 'group', new_file_name = 'summary_data', asin = False)`

* `groups`(optional): pass the group_list defined at the beginning of this Notebook to add a column that specifies which experimental group each rat is in
    * numbers will be assigned according to their order in group_list (in this example: `Tg negative rats == 0`, `Tg positive rat == 1`)
* `column_name`: Assign a name to the column in the exported Excel file that will specify the control vs. experimental group. In this example: `tg_status`
* `new_file_name`: Assign the name of the **new** Excel file that you're exporting
* `asin`: False by default; passing `asin = True` will perform an arcsine transformation on percentage variables: P1-P4 and premature responding
    * can then be imported into SPSS for analysis

In [ ]:
rgt.export_to_excel(df_sum, groups = group_list, column_name = 'gender', new_file_name = 'trials_edited.xlsx', asin = False)

***
# 5) Miscellaneous

[back to top](#rGT-functions-for-data-manipulation-and-visualization)

## Changing your working directory

* Check your current working directory by running `os.getcwd()` 
    * by default, this will be wherever the jupyter notebook file is saved
* After loading in rgt_functions.py, you may want to move to the folder where your data is saved
* Change your working directory using `os.chdir('C:\\...)`
    * can be absolute or relative file path
* For example, my current working directory is `'C:\\Users\\dexte\\hathaway_1'`, I can change this by running `os.chdir('C:\\Users\\dexte\\hathaway_1\\data')` 
    * slashes will be different if you are not using Windows
* Data files can now be loaded in from and saved to the folder you moved to

In [ ]:
#checks current working directory
os.getcwd()

#changes working directory to whatever is included in brackets
os.chdir('C:\\Users\\dexte\\hathaway_1\\data')

## Impute missing data by taking the mean

`rgt.impute_missing_data(df, session = None, subject = None, choice = 'all', vars = 'all')`

* this function takes the mean of the session before and after the missing data, for the specified session and subject
    * You can also specify a Group number in the session variable for Latin Square analysis
* For example, if you have missing data for subject 12, dose 2, this function will calculate the mean of dose 1 and 3
    * Code: `df = rgt.impute_missing_data(df, session = 2, subject = 12, choice = 'all', vars = 'all')`
* You can specify which P1-P4 options you'd like to impute by passing a list to `choice`
    * `choice = [1,3]`
* You can specify which variables by passing the variable names as a list to `vars`
    * `vars = ['prem', 'choice_lat']`

## Making changes to the rgt_functions.py file

* If you make changes in the .py file, run the following cell
* Every time you change & save the .py file, the changes will automatically be loaded into the Notebook!

In [ ]:
%load_ext autoreload
%autoreload 2

## Example: between-subjects analysis for Latin Square dataset

* This example combines information from Section 2 and Section 3
* See Section 2 for guidance on how to export to excel, further split by risky/optimal, etc while taking experimental group information into account

### Define objects

This is similar to defining experimental groups in 2A:
* `group_names`: create a dictionary for your group names (here, I'm specifying different brain regions, but you could also specify any number of different experimental groups, e.g., Tg positive and Tg negative, as done in 2A) 
* `group_list`: create lists of subject numbers for your different groups, then put them together into group_list
* load in data using the `load_data(file_names)` function, as described in Section 1

In [ ]:
group_names = {0:'lOFC',
               1:'PrL'} 

lOFC = [1,2,3,4,5,6,8,9,11,12,13,14,15,16,24,25,26,32]

PrL = [18,19,20,21,22,23,27,28,29,30,31]

group_list = [lOFC, PrL]

file_names = ['BH06_raw_round1-infusions.xlsx',
              'BH06_raw_round1-makeup.xlsx',
              'BH06_raw_round2-infusions.xlsx']

#for plotting:
startdose = 1
enddose = 4
title = '5-HT2c Antagonist'

In [ ]:
df = rgt.load_data(file_names)
df = rgt.edit_groups(df, orig_group = [0], new_group = [3], subs = [5])

### Calculate descriptive statistics

* This is very similar to Section 3A, except that you are passing your group_list and group_names to the `rgt.get_means_sem` function

In [ ]:
df_sum = rgt.get_summary_data(df, mode = 'Group')

df_sum = rgt.impute_missing_data(df_sum, session = 2, subject = 12, choice = 'all', vars = 'all')

mean_scores, SEM = rgt.get_means_sem(df_sum, groups = group_list, group_names = group_names)

### Plotting

* Again, this is similar to 3B, except that you will pass the group names for the Choice bar plot instead of 'All rats'
* And pass `group_names = group_names` to the `rgt.rgt_plot()` function

In [ ]:
rgt.ls_bar_plot('lOFC',mean_scores,SEM)
rgt.ls_bar_plot('PrL',mean_scores,SEM)

In [ ]:
rgt.rgt_plot('prem',startdose,enddose,title,mean_scores,SEM, group_names = group_names, y_label = 'Premature response',x_label = 'Dose')